.example-tree-progress-bar {
  margin-left: 30px;
}

.example-tree-nested-node {
  padding-left: 30px;
}

mat-tree {
  margin-left: 40px;
}
.mat-tree-node {
  padding: 0;
  background-color: white;
}

.mat-nested-tree-node {
  top: -24px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.example-tree-container {
  border-bottom: 0;
}

ul {
  padding-left: 40px;
}

li {
  padding-left: 40px;
  border: 1px dotted grey;
  border-width: 0 0 1px 1px;
  position: relative;
  top: -24px;
}

li.mat-tree-node,
li div {
  margin: 0;
  position: relative;
  top: 24px;
}

li ul {
  border-top: 1px dotted grey;
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
  border-left: 1px solid white;
  margin-left: -41px;
}

.mat-icon-button {
  z-index: 100;
}
*/

/* Remove default bullets
ul,
#myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 10px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
